$sans-serif: 'Roboto Condensed', 'Helvetica Neue', Arial, sans-serif;

$green: #1fb9cb;
$blue: #3693d9;
$grey: #4d4d4d;
$grey-med: #888;
$black: #222;

$x-small: 30em;
$small: 37em;
$med: 50em;

@mixin respond-to($breakpoint) {
  @media (min-width: $breakpoint) {
    @content;
  }
}

@import 'normalize';
@import 'base';
@import 'header';
@import 'nav';
@import 'narrative';
@import 'paginate';